
body {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("pics/background.jpg");
}

.header {
    display: flex;
    border-bottom: solid;
    border-color: #707070;
}

.img-header {
    height: auto;
    width: 65%;
}

.logo {
    height: auto;
    width: 100%;
    border-left:solid;
    border-color: #707070;
}

.menu {
    display: block;
    padding: 0;
}

.menu-items {
    list-style-type: none;
    padding: 0;   
}

.cont {
    display: flex;
    justify-content: space-around;
}

a:link {
    text-decoration: none;
  }

  .section { 
      border-right: solid;
      border-color:#707070;
  }

  .video {
      padding: 5%;
  }